<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183188442887-neul66tq1u87sdcfsrp5m771p9n09oi3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183188442887-neul66tq1u87sdcfsrp5m771p9n09oi3</string>
	<key>API_KEY</key>
	<string>AIzaSyD51PK7VZWbDK8-MIqbXXYGtyPDuklh754</string>
	<key>GCM_SENDER_ID</key>
	<string>183188442887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todo</string>
	<key>PROJECT_ID</key>
	<string>todoapp-c5e07</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-c5e07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183188442887:ios:839e9cec10aedadc85bfa2</string>
</dict>
</plist>